<h1>Sign in</h1>

<form action="<% session_url %>" method="post">
    <label for="username">Username</label>
    <input type="text" name="user[username]">

    <br>

    <label for="password">Password</label>
    <input type="text" name="user[password]">

    <button>Log In</button>
</form>